In [261]:
#import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
#from collections import Counter
from itertools import combinations

In [262]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
464,tt1564585,10000000,66821036,Skyline,Eric Balfour|Scottie Thompson|David Zayas|Dona...,Colin Strause|Greg Strause,Don't look up,When strange lights descend on the city of Los...,100,Science Fiction,Rogue Pictures|Relativity Media|Hydraulx|Rat E...,11/11/2010,4.7,2010
955,tt0280760,9000000,4777465,Igby Goes Down,Kieran Culkin|Claire Danes|Jeff Goldblum|Jared...,Burr Steers,Insanity is relative.,A young man's peculiar upbringing renders him ...,97,Comedy|Drama,United Artists,9/13/2002,6.5,2002
1388,tt0398712,30000000,35294470,Assault on Precinct 13,Ethan Hawke|Laurence Fishburne|Gabriel Byrne|M...,Jean-FranÃ§ois Richet,Unite and fight.,"On New Year's Eve, inside a police station tha...",109,Thriller,Rogue Pictures|Why Not Productions|Liaison Fil...,1/19/2005,5.9,2005
1757,tt0804522,27500000,24748670,Rendition,Omar Metwally|Reese Witherspoon|Jake Gyllenhaa...,Gavin Hood,What if someone you love...just disappeared?,"When an Egyptian terrorism suspect ""disappears...",120,Drama|Thriller,Anonymous Content|Level 1 Entertainment|MID Fo...,9/7/2007,5.7,2007
1153,tt0313542,60000000,80154140,Runaway Jury,John Cusack|Gene Hackman|Dustin Hoffman|Rachel...,Gary Fleder,Trials are too important to be decided by juries.,A juror on the inside and a woman on the outsi...,127,Drama|Thriller,Regency Enterprises|Epsilon Motion Pictures|Ne...,10/9/2003,6.8,2003

In [263]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [264]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [265]:
answers = {} # создадим словарь для ответов

In [266]:
# Добавление к датасету столбца profit (прибыль = сборы - бюджет)
data['profit'] = data['revenue'] - data['budget']
# Добавление к датасету столбца с названием месяца 
data['month'] = pd.DatetimeIndex(data['release_date']).month_name()
# Добавление к датасету столбца с количеством символов в названии 
data['original_title_symbols'] = pd.Series(list(len(x) for x in data['original_title']))
# Добавление к датасету столбца с количеством слов в описании
data['overview_words'] = pd.Series(list(len(x.split(' ')) for x in data['overview']))
# Добавление к датасету столбца со студиями в виде списка
data['production_companies_splited'] = data['production_companies'].str.split('|')
# Добавление к датасету столбца с актёрами в виде списка
data['cast_splited'] = data['cast'].str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

In [267]:
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [268]:
data[data['budget'] == data['budget'].max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [269]:
data[['original_title', 'budget']].sort_values(by=['budget'], ascending=False).iloc[0]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [270]:
# +
answers['2'] = 'Gods and Generals'

In [271]:
data[data['runtime'] == data['runtime'].max()]['original_title'].iloc[0]

'Gods and Generals'

ВАРИАНТ 2

In [272]:
data[['original_title', 'runtime']].sort_values(by=['runtime'], ascending=False).iloc[0]['original_title']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [273]:
# +
answers['3'] = 'Winnie the Pooh'

In [274]:
data[data['runtime'] == data['runtime'].min()]['original_title'].iloc[0]

'Winnie the Pooh'

ВАРИАНТ 2

In [275]:
data[['original_title', 'runtime']].sort_values(by=['runtime']).iloc[0]['original_title']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [276]:
# +
answers['4'] = '110'

In [277]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [278]:
# +
answers['5'] = '107'

In [279]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [280]:
# +
answers['6'] = 'Avatar'

In [281]:
# код для получения столбца profit вынесен в Предобработку
data[data['profit'] == data['profit'].max()]['original_title'].iloc[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [282]:
# +
answers['7'] = 'The Lone Ranger'

In [283]:
data[data['profit'] == data['profit'].min()]['original_title'].iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [284]:
# +
answers['8'] = 1478

In [285]:
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [286]:
# +
answers['9'] = 'The Dark Knight'

In [287]:
data[data['release_year'] == 2008][['original_title', 'revenue']] \
    .sort_values(by=['revenue'], ascending=False)['original_title'].iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [288]:
# +
answers['10'] = 'The Lone Ranger'

In [289]:
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)][['original_title', 'profit']] \
    .sort_values(by='profit')['original_title'].iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [290]:
# +
answers['11'] = 'Drama'

In [291]:
genres_count = []
for i in range(0, len(data.genres)):
    genres_count.extend(data.genres.iloc[i].split('|'))
pd.Series(genres_count).value_counts().keys()[0]

'Drama'

ВАРИАНТ 2

In [292]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().keys()[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [293]:
# +
answers['12'] = 'Drama'

In [294]:
data_profit = data[data['profit'] > 0]
pd.Series(data_profit['genres'].str.cat(sep='|').split('|')).value_counts().keys()[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [295]:
# +
answers['13'] = 'Peter Jackson'

In [296]:
revenue_by_director = []
director_unique = list(set(data['director'].str.cat(sep='|').split('|')))
for item in director_unique:    
    revenue_by_director.append(data[data['director'].str.contains(str(item), na=False)]['revenue'].sum())
pd.Series(revenue_by_director, director_unique).sort_values(ascending=False).keys()[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [297]:
# +
answers['14'] = 'Robert Rodriguez'

In [298]:
pd.Series(data[data['genres'].str.contains('Action', na=False)]['director'].str.cat(sep='|').split('|')) \
         .value_counts().keys()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [299]:
# +
answers['15'] = 'Chris Hemsworth'

In [300]:
revenue_by_actor = []
actor_unique = list(set(data['cast'].str.cat(sep='|').split('|')))
data_2012 = data[data['release_year'] == 2012]
for item in actor_unique:    
    revenue_by_actor.append(data_2012[(data_2012['cast'].str.contains(str(item), na=False))]['revenue'].sum())
pd.Series(revenue_by_actor, actor_unique).sort_values(ascending=False).keys()[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [301]:
# +
answers['16'] = 'Matt Damon'

In [302]:
data_hibudget = data[data['budget'] > data['budget'].mean()]
pd.Series(data_hibudget['cast'].str.cat(sep='|').split('|')).value_counts().keys()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [303]:
# +
answers['17'] = 'Action'

In [304]:
data_cage = data[data['cast'].str.contains('Nicolas Cage', na=False)]
pd.Series(data_cage['genres'].str.cat(sep='|').split('|')).value_counts().keys()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [305]:
# +
answers['18'] = 'K-19: The Widowmaker'

In [306]:
data_paramount = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
data_paramount[['original_title', 'profit']].sort_values(by='profit')['original_title'].iloc[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [307]:
# +
answers['19'] = 2015

ВАРИАНТ 1

In [308]:
release_year_unique = sorted(data['release_year'].unique().tolist())
revenue_by_year = []
for year in release_year_unique:
    revenue_by_year.append(data[data['release_year'] == year]['revenue'].sum())
pd.Series(revenue_by_year, release_year_unique).sort_values(ascending=False).keys()[0]

2015

ВАРИАНТ 2

In [309]:
data[['release_year', 'revenue']].groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).keys()[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [310]:
# +
answers['20'] = 2014

In [311]:
data_warner = data[data['production_companies'].str.contains('Warner Bros', na=False)][['release_year', 'profit']]
data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).keys()[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [312]:
# +
answers['21'] = 'September'

In [313]:
# Добавление к датасету столбца с названием месяца выполнено в Предобработке
data['month'].value_counts(ascending=False).keys()[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [314]:
# +
answers['22'] = 450

In [315]:
len(data[data['month'].isin(['June', 'July', 'August'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [316]:
# +
answers['23'] = 'Peter Jackson'

In [317]:
data_winter = data[data['month'].isin(['December', 'January', 'February'])]
pd.Series(data_winter['director'].str.cat(sep='|').split('|')).value_counts().keys()[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [318]:
# +
answers['24'] = 'Four By Two Productions'

In [319]:
# Добавление к датасету столбца со студиями в виде списка вынесено в Предобработку
# Добавление к датасету столбца с количеством символов в названии вынесено в Предобработку
data_24 = data[['production_companies_splited', 'original_title_symbols']].explode('production_companies_splited')
data_24.sort_values(by='original_title_symbols', ascending=False)['production_companies_splited'].iloc[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [320]:
# +
answers['25'] = 'Midnight Picture Show'

In [321]:
# Добавление к датасету столбца с количеством слов в описании вынесено в Предобработку
data_25 = data[['production_companies_splited', 'overview_words']].explode('production_companies_splited')
data_25.groupby(['production_companies_splited'])['overview_words'].mean().sort_values(ascending=False).keys()[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [322]:
# +
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [323]:
data[['original_title', 'vote_average']].sort_values(by='vote_average', ascending=False).head(int(0.01 * len(data))) \
    ['original_title'].tolist()

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [324]:
# +
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [325]:
# Решение данного вопроса при помощи combinations подсмотрено в соответствующем канале чата
# Дополнительно добавлена строка с сортировкой списка перед выполнением комбинаций
# для предотвращения появления "зеркальных" комбинаций
combs = [] 
for cast in data.cast.str.split('|'):
    cast.sort()
    combs.extend(combinations(cast, 2))
pd.Series(combs).value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Billy Crudup, Johnny Depp)            1
(Albert Brooks, Elyes Gabel)           1
(Devon Gearhart, Michael Pitt)         1
(Jamie Foxx, Lucas Black)              1
(Adam Scott, John Lithgow)             1
Length: 17943, dtype: int64

# Submission

In [326]:
# Ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [327]:
# Количество ответов на вопросы
len(answers)

27